<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.BoardMapper">
    <insert id="insertBoard" parameterType="domain.BoardDTO">
        INSERT INTO board (EMP_NO, EMP_NM, EML, TELNO, ADDRESS, APRV, DEPT_ID, DEPT, HBY, HBY_ID)
        VALUES (#{EMP_NO}, #{EMP_NM}, #{EML}, #{TELNO}, #{ADDRESS}, #{APRV}, #{DEPT_ID}, #{DEPT}, #{HBY}, #{HBY_ID})
    </insert>

    <select id="searchBoard" parameterType="String" resultType="domain.BoardDTO">
        SELECT EMP_NO, EMP_NM, DEPT, APRV FROM board
        WHERE EMP_NM LIKE '%'||#{value}||'%'
    </select>

    <select id="getBoardDetail" parameterType="String" resultType="domain.BoardDTO">
        SELECT EMP_NO, EMP_NM, EML, TELNO, ADDRESS, APRV, DEPT, HBY FROM board
        WHERE EMP_NO = #{value}
    </select>

    <update id="updateBoard" parameterType="domain.BoardDTO">
        UPDATE board SET EMP_NM=#{EMP_NM}, EML=#{EML}, TELNO=#{TELNO}, ADDRESS=#{ADDRESS}, APRV=#{APRV}, DEPT_ID=#{DEPT_ID}, DEPT=#{DEPT}, HBY=#{HBY}, HBY_ID=#{HBY_ID}
        WHERE EMP_NO=#{EMP_NO}
    </update>

    <delete id="deleteBoard" parameterType="String">
        DELETE FROM board WHERE EMP_NO=#{value}
    </delete>
</mapper>
